/* ******************** start header ******************** */
.header, .portfolio {
    background: url(./img/header-bg.png) no-repeat center;
    background-size: cover;
}
.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}
/* navbar */
#navbar{
    z-index: 1000;
}

.navbar-brand span {
    font-size: 12px;
    border-radius: 2px;
}
.nav-link.active{
    color: #212529 !important;
    background: #FFD800;
    border-radius: 4px;
    padding-left: 8px;
}
/* change background header */
.scroll-header{
    box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
    background-color: #212529 !important;
}

/* form */
.form-control {
    background: transparent;
    width: 200px;
    height: 55px;
    border-radius: 4px;
}
.form-control::placeholder {
    color: #ccc;
    text-transform: uppercase;
}
button.btn.btn-warning.mb-3.text-uppercase.text-dark{
    height: 55px;
}

/* start about section */
section#about {
    height: 100vh;
}
.col-md.position-relative{
    bottom: 250px;
}


/* start our-team */
.awesome-app-1{
    background: #FFE347;
}
img.position-absolute {
    bottom: -100px;
    width: 980px;
    height: 98vh;
    left: -120px;
}


/* start portfolio */
.portfolio-icon i{
    font-size: 4rem !important;
}
.share-icon {
    transform: rotate(90deg);
}

.btn-center {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

a {
    text-decoration: none;
}

/* ******************** start media query ******************** */
@media (max-width: 768px) {
    .navbar-collapse{
        background-color: #212529 !important;
        padding: 16px 24px;
    }
}